
@media (max-width: 500px) {
    section {
        background: white;
        border-radius: 15px;
        padding: 15px;
        width: 900px;
        height: auto;
        margin: auto;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.719);
        text-align: center;
    }

    div#inferior-esquerdo {
        position: relative;
        background-color: white;
        width: 0px;
        height: 0px;
        border-radius: 6px;
        right:0px;
        top: 15px;
    }
    div#inferior-direito {
        position: relative;
        background-color: white;
        width: 0px;
        height: 0px;
        border-radius: 6px;
        left: 889px;
        bottom: 0px;
    }

    .botao {
        /* background: #3cb371; */
        border: solid 2px transparent;
        border-radius: 5px;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        padding: 6px 12px;
        margin: 12px 12px;
        text-decoration: none;
        transition: background 0.3s linear 0s;
        border-color: yellow;
        color: #000000;
        font-weight: 300;
        cursor: pointer;
        /* text-shadow: 1px 1px rgb(0, 0, 0); */
        font: bolder;
        background-color: white;
        box-shadow: 1px 1px black;
    }

    #foto {
        opacity: 0;
    }
    
}